h1 {
  color: green;
  font-style: italic;
  font-size: 16;
}

.note {
  color: grey;
  padding-top: 5;
  font-size: 15;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20;
  border-style: solid;
  border-radius: 5;
  padding: 10;
  margin-bottom: 10;
}
